[Unit]
Description=My webapp service
After=network.target

[Service]
EnvironmentFile=/usr/bin/.env
User=csye6225
Group=csye6225
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/webapp
Restart=on-failure
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp

[Install]
WantedBy=multi-user.target